# Data Science Tools and Ecosystem

## Author 
Zu Hyun Lee

In this notebook, Data Science Tools and Ecosystem are summarized

**_Objectives:_**
+ List popular languages for Data Science
+ List commonly used libraries used by Data Scientists
+ List 3 development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Pytorch
3. Scikit Learn

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in python

In [4]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335